# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/wordcount/
/spark_lightningfastDataAnalysis.wadl
md/pic/
spark_lightningfastDataAnalysis.wadl
src/main/java/
src/main/resources/
src/main/scala/com/zhuzi/char02/DemoLoop.scala
src/test/
target/
